# Created by .ignore support plugin (hsz.mobi)
/.idea
/.vscode
/.history
/node_modules
/vendor
/public/dist
/test*.php
/*.phar
.env
.php-cs-fixer.cache
.php_cs.cache
.phpunit.result.cache
yarn-error.log
