parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method think\\\\db\\\\ConnectionInterface\\:\\:query\\(\\)\\.$#"
			count: 2
			path: app/Command/CreateModel.php

		-
			message: "#^Static call to instance method think\\\\db\\\\BaseQuery\\:\\:where\\(\\)\\.$#"
			count: 1
			path: app/Logic/AdminRole.php

		-
			message: "#^Static call to instance method think\\\\db\\\\BaseQuery\\:\\:find\\(\\)\\.$#"
			count: 1
			path: app/Logic/AdminRole.php

		-
			message: "#^Call to an undefined method think\\\\Model\\:\\:hasData\\(\\)\\.$#"
			count: 1
			path: app/Model/AdminUser.php

		-
			message: "#^Access to an undefined property think\\\\Model\\:\\:\\$last_login_ip\\.$#"
			count: 1
			path: app/Model/AdminUser.php

		-
			message: "#^Access to an undefined property think\\\\Model\\:\\:\\$signup_ip\\.$#"
			count: 1
			path: app/Model/AdminUser.php

		-
			message: "#^Access to an undefined property think\\\\Model\\:\\:\\$remember\\.$#"
			count: 1
			path: app/Model/AdminUser.php

		-
			message: "#^Static call to instance method think\\\\db\\\\BaseQuery\\:\\:where\\(\\)\\.$#"
			count: 1
			path: app/Model/AdminUser.php

		-
			message: "#^Method app\\\\Model\\\\AdminUser\\:\\:getAccessControl\\(\\) should return array\\<array\\<string\\>\\>\\|null but returns array\\<int\\|string, string\\>\\|null\\.$#"
			count: 1
			path: app/Model/AdminUser.php

		-
			message: "#^Right side of && is always true\\.$#"
			count: 1
			path: app/Model/AdminUser.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 3
			path: app/Model/AdminUser.php

		-
			message: "#^Strict comparison using \\=\\=\\= between array\\<string\\> and 'rw' will always evaluate to false\\.$#"
			count: 2
			path: app/Model/AdminUser.php

		-
			message: "#^Static call to instance method think\\\\db\\\\BaseQuery\\:\\:where\\(\\)\\.$#"
			count: 7
			path: app/Model/System.php

		-
			message: "#^Static call to instance method think\\\\db\\\\BaseQuery\\:\\:insert\\(\\)\\.$#"
			count: 1
			path: app/Model/System.php

		-
			message: "#^Static call to instance method think\\\\db\\\\BaseQuery\\:\\:whereIn\\(\\)\\.$#"
			count: 1
			path: app/Model/System.php

		-
			message: "#^Static call to instance method think\\\\db\\\\BaseQuery\\:\\:where\\(\\)\\.$#"
			count: 1
			path: app/Service/DeployTool/UserManage.php

		-
			message: "#^Call to an undefined method app\\\\Model\\\\AdminUser\\:\\:fetchSql\\(\\)\\.$#"
			count: 1
			path: app/Service/DeployTool/UserManage.php

		-
			message: "#^Right side of \\|\\| is always false\\.$#"
			count: 1
			path: app/controller/Util.php

		-
			message: "#^Call to function is_null\\(\\) with array\\|string will always evaluate to false\\.$#"
			count: 1
			path: app/BaseController.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: app/BaseController.php

		-
			message: "#^Call to function is_null\\(\\) with array\\|string will always evaluate to false\\.$#"
			count: 1
			path: app/Service/Auth/Middleware/Authorize.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: app/Service/Auth/Middleware/Authorize.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 3
			path: app/Model/AdminRole.php

		-
			message: "#^Strict comparison using \\=\\=\\= between array\\<string\\> and 'rw' will always evaluate to false\\.$#"
			count: 2
			path: app/Model/AdminRole.php

		-
			message: "#^Result of \\|\\| is always true\\.$#"
			count: 1
			path: app/Model/Base.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 4
			path: app/Model/Base.php

		-
			message: "#^Call to an undefined method app\\\\Model\\\\Base\\:\\:getTableFields\\(\\)\\.$#"
			count: 1
			path: app/Model/Base.php

		-
			message: "#^Right side of \\|\\| is always true\\.$#"
			count: 1
			path: app/common.php

		-
			message: "#^Call to an undefined method think\\\\db\\\\ConnectionInterface\\:\\:query\\(\\)\\.$#"
			count: 4
			path: app/common.php

		-
			message: "#^Variable \\$pdo in PHPDoc tag @var does not match assigned variable \\$connect\\.$#"
			count: 1
			path: app/common.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: app/common.php

		-
			message: "#^Call to an undefined method think\\\\db\\\\ConnectionInterface\\:\\:getPdo\\(\\)\\.$#"
			count: 1
			path: app/common.php

		-
			message: "#^Function roule_resource\\(\\) should return resource but returns think\\\\route\\\\Resource\\.$#"
			count: 1
			path: app/common.php

		-
			message: "#^Static call to instance method think\\\\db\\\\BaseQuery\\:\\:find\\(\\)\\.$#"
			count: 2
			path: app/controller/api/admin/Role.php

		-
			message: "#^Static call to instance method think\\\\db\\\\BaseQuery\\:\\:find\\(\\)\\.$#"
			count: 2
			path: app/controller/api/admin/User.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: extend/Tp/Log/SocketDriver.php

