.full-width {
    width: 100%!important;
}

/**补丁弹出层修剪下拉框问题 对弹层滚动条造成影响**/
.layui-layer-page .layui-layer-content{
    /*overflow : visible !important;*/
}

/** bootstrap兼容性 && 警告域 **/
div.layui-form-checkbox {
    border-style: solid;
    border-width: 1px;
    border-color: #FFF;
}
div.layui-form-checkbox, div.layui-form-checkbox > * {
    box-sizing: content-box;
}

/* 警告域 */
.layui-form-danger2,
input.layui-form-danger2:hover,
.layui-form-danger2 + .layui-form-select .layui-input
{
    border-color: #FF5722 !important;
}
.layui-form-danger2 + div.layui-form-checkbox,
.layui-form-danger2 + div.layui-form-switch
{
    border-style: solid;
    border-width: 1px;
    border-color: #FF5722;
}
.layui-form-danger2 + div.xm-select-parent
{
    border-style: solid;
    border-width: 1px;
    border-color: #FF5722;
}

/* iview */
.ivu-table td.table-column-isometric {
    font-family: Menlo, Consolas, "Source Code Pro", Monaco, 'Courier New', "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

/* 移除应用内容窗口的边框 */
.server-app-modal .ivu-modal-body {
    padding: 0;
}